@model Pdnink.Models.ResetPassword

@{
    ViewBag.Title = "Restablecer contraseña";
}

<h2>Restablecer contraseña</h2>

@using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Token)
    @Html.HiddenFor(m => m.Email)

    <div class="form-group">
        <label>Nueva contraseña</label>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", id = "password" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    <div class="form-group">
        <label>Confirmar contraseña</label>
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "confirmPassword" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>

    <button type="submit" class="btn btn-primary" id="btn_reset">
        Cambiar contraseña
    </button>
}